.home {
    height: 100%;
}

.nav {
    height: 69px;
    border-bottom: 1px solid #E1E1E1;
}

.banner {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.bannerWrap {
    position: relative;
    /* background-image: url("../../assets/desktop.jpg"); */
    display: flex;
    justify-content: center;
}

.descriptionBox {
    position: absolute;
    top: 71px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    color: white;
    font-weight: 700;
}

.bannerTitle {
    font-size: 40px;
    margin-bottom: 30px;
}

.bannerDescription {
    text-align: left;
    font-size: 20px;
}

.filterPannel {
    height: 80px;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrap {
    background-color: #F9F9F9;
    height: 100%;
    display: flex;
    justify-content: center;
}

.jobsBlock {
    width: 60%;
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}

.footer {
    background-color: #E1E1E1;
    height: 250px;
}